@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Montserrat&family=Rock+Salt&family=Shadows+Into+Light+Two&family=Work+Sans:wght@100;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat',  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.low-opacity-bg-image {
  position: relative;
  isolation: isolate;
}

.low-opacity-bg-image::after {
  content: '';
  position: absolute;
    background-image: url("../../to-do-list/src/assets/background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  inset: 0;
  z-index: -1;
  opacity: 0.4;
}
